*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/sessions/kotlin-compiler-2237516747617189003.salive
/.kotlin/sessions/kotlin-compiler-9737001918162291380.salive
app/src/main/java/com/example/wall_et_mobile/data/network/api/IPAddress.kt
*.salive
/.kotlin
